.gist-banner {
    margin-top: 0;
    color: #234766;
    border-bottom-color: #fff;
}

.gist-welcome {
    padding: 40px 0;
}

.gist-welcome h1 {
    margin: 0 0 10px;
    font-size: 32px;
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.container-lg {
    margin-right: auto;
    margin-left: auto;
    max-width: 1012px;
}

.px-3 {
    padding-left: 16px;
    padding-right: 16px;
}

.page-gist-edit .gist-content {
    width: 100%;
}

.input-block {
    display: block;
    width: 100%;
}

.form-control {
    min-height: 34px;
    padding: 6px 8px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);

}

.input-contrast {
    background-color: #fafbfc;
}

.input-contrast:focus {
    background-color: #fff;
}

.file {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.file-header {
    padding: 5px 10px;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.mb-2 {
    margin-bottom: 8px;
}

.gist-filename-input {
    float: left;
    width: 250px;
    margin-right: 10px;
}

.input-group {
    display: table;
}

.input-group .form-control {
    display: table-cell;
    position: relative;
    width: 100%;
}

.container-preview.show-code .commit-create {
    display: block;
}

.position-relative {
    position: relative;
}

.file-actions {
    float: right;
    padding-top: 2px;
    font-size: 13px;
}

.file-actions select {
    margin-left: 5px;
}

.select-sm {
    height: 28px;
    min-height: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
}

.form-select {
    display: inline-block;
    max-width: 100%;
    height: 34px;
    padding-right: 24px;
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    margin: 0;
}

optgroup {
    font-weight: 600;
}

.container-preview.show-code .file-actions {
    display: block;
}

.form-actions .btn {
    float: right;
}