.snnipets_layout {
    display: grid;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e1e4e8;
    padding-right: 20px;
    padding-left: 20px;
}

.snnipets_lg h1 {
    position: relative;
    min-height: 32px;
    font-size: 18px;
    color: #586069;
    font-weight: 400;
    margin: 10px;
    margin-bottom: 30px;
}

.snnipets_lg {
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
}

.reponav {
    position: relative;
    top: 1px;
    margin-top: -5px;
}

.reponav-item {
    float: left;
    padding: 7px 15px 8px;
    color: #586069;
    white-space: nowrap;
    border: 1px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 3px 3px 0 0;
}

.reponav-item .select {
    color: #24292e;
    background-color: #fff;
    border-color: #e36209 #e1e4e8 transparent;

}

.gist-snnipets .file-box {
    position: relative;
    margin-bottom: 2em;

}

.d-inline-block {
    display: inline-block;
}

.width-full {
    width: 100%;
}

.h6 {
    font-weight: 600;
    font-size: 12px;
}

.float-right {
    float: right;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.d-inline-block {
    display: inline-block;
}

.mr-3 {
    margin-right: 16px;
}

.muted-link {
    color: #586069;
}

.float-lef {
    float: left;
}

.d-inline-block {
    display: inline-block;
}

.mt-1 {
    margin-top: 4px;
}

.v-align-top {
    vertical-align: top;
}

.text-gray {
    font-size: 11px;
    color: #586069;
}

.file {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.Box-body:last-of-type {
    margin-bottom: -1px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.p-0 {
    padding: 0;
}

.Box-body {
    padding: 16px;
    border-bottom: 1px solid #e1e4e8;
}